<launch>
  <arg name="veh" default="$(optenv VEHTYPE SQ)" />
  <arg name="num" default="$(optenv VEHNUM 01)" />
  <arg name="sim" default="$(optenv SIMBOOL s)" />

  <group ns="$(arg veh)$(arg num)$(arg sim)">
    <!-- Position / trajectory tracking -->
    <node name="python_node" pkg="python_example" type="python_node" output="screen"> 	
      <!-- Load vehicle type parameters -->
      <!-- <rosparam file="$(find outer_loop)/param/$(arg veh).yaml" command="load"/> -->
    </node>

  </group>

</launch>
